* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;

    --spacing: 20px;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: var(--spacing);
    margin: 0 40px;
    height: 100%;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

.instructions {
    text-align: left;
    background: #f8f9fa;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
}

.instructions h2 {
    margin-top: 0;
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.instructions p {
    margin: 12px 0;
    font-size: 16px;
    color: #444;
}

b {
    color: #2196F3;
}